html,body{
    height: 100%;
    width: 100%;
  
  }
body {
  background: white;
  font-family: "Courier New", monospace;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

img {
  width: 200%;
  margin: auto;
}

p {
  font-family: monospace;
}
